@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

html {
  height: 120%;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  overflow: hidden;
}

@media only screen and (max-width: 700px) {
  html{
    overflow: scroll;
  }
}

.logo {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 700px) {
  .logo {
    width: 400px;
  }
}

.main {
  color: antiquewhite;
  font-family: 'Italianno', cursive;
  font-size: 2em;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0.42200630252100846) 0%, rgba(17,15,14,0.923406862745098) 100%);
  border-radius: 25px;
  width: 100%;
  padding: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  min-height: 60%;
  accent-color: rgb(249, 124, 15);
  display:flex; 
  flex-direction:column; 
  justify-content:center;
  z-index: 2;
}

textarea:focus, input:focus {
  color: antiquewhite;
  background-color: #f8b16a7a;
}

input, textarea {
  color: antiquewhite;
  background-color: #6e3b0b7a;
  /* width: 500px; */
}

@media only screen and (max-width: 1200px) {
  input, textarea {
    color: antiquewhite;
    background-color: #6e3b0b7a;
    width: 80%;
  }
}

 .hidden {
  display: none;
}

label {
  margin: 30px;
}

label.ingredients {
  padding: 0;
  width: 60px;
  height: 60px;
}

input[type="checkbox"]  {
  display: none;
}

img {
  cursor: pointer;
  margin: 30px;
}

.gray-img {
  filter: grayscale(100%);
  /* padding: 80px; */
  margin: 20px;
}

#custom-choice img {
  width: 80px;
  margin: 0px;
}

button {
  padding: 20px;
  margin: 50px;
}
       
.btn-grad {
  background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%);
  text-align: center;
  /* text-transform: uppercase; */
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  border-radius: 10px;
  border:rgb(249, 124, 15);
}

.btn-grad:hover {
  background-position: right center; /* changes the direction of the bg */
  color: rgb(0, 0, 0);
  text-decoration: none;
}

#receipt {
  margin: auto;
  padding: 20px;
}

#receipt h2 {
  font-size: 3em;
}

/* Fire */
.mo-fire {
  height: auto;
  position: absolute;
  left: 53%;
  transform: translateX(-50%);
  bottom: -20%;
  z-index: 0;
  width: 80%;
  opacity: 0.8;
  padding: 0%;
  margin: 0%;
}

#svg-view {
  width: 252px;
  height: 125px;
  left: 0px;
}

.mo-fire svg {
  width: 100%;
  height: auto;
  position:relative;
  right:40px;
}

.flame {
  animation-name: flameDisappear;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  opacity: 0.5;
  transform-origin: 45% 45% 0;
}

.flame.one {
  animation-delay: 1s;
  animation-duration: 3s;
}

.flame.two{
  animation-duration: 5s;
  animation-delay: 1s;
}

.flame-main {
  animation-name: flameMovement;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.flame-main.one {
  animation-duration: 2.2s;
  animation-delay: 1s;
}

.flame-main.two {
  animation-duration: 2s;
  animation-delay: 1s;
}

.flame-main.three {
  animation-duration: 2.1s;
  animation-delay: 3s;
}

.flame-main.four {
  animation-duration: 3.2s;
  animation-delay: 4s;
}

.flame-main.five {
  animation-duration: 2.5s;
  animation-delay: 5s;
}

@keyframes flameMovement {
  50% {
    transform: scale(0.98,1.0) translate(0, 2px) rotate(-1deg);
  }
}

@keyframes flameDisappear {
  0%{
    transform: translate(0) rotate(180deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(-10px, -40px) rotate(180deg);
    opacity: 0;
  }
}

@media only screen and (max-width: 900px) {
  .mo-fire {
  display: none;
  }
}

